@media (min-width: 768px) and (max-width: 991px) {
  #hero-copy-wrapper {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #hero-copy-wrapper {
    padding-top: 5px;
  }
}